<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.he5ed.lib.cloudprovider"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".auth.OAuth2Activity">
        </activity>

        <activity android:name=".picker.CloudPickerActivity">
        </activity>

        <provider
            android:name=".providers.CloudContentProvider"
            android:authorities="com.he5ed.lib.cloudprovider.CloudContentProvider"
            android:enabled="true"
            android:exported="false">
        </provider>

    </application>

</manifest>
